{% extends 'base.html' %}
{% block title %} Mind Meter {% endblock %}

{% block head %}
{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

{% endblock %}

{% block body %}

<div id="site-content">
    <h2>Line Chart w/ Time Scale</h2>
    <canvas id="line-time"></canvas>
</div>

<script>
    fetch('/meditations_this_week.json')
.then((response) => response.json())
.then((responseJson) => {
    const data = responseJson.data.map((dailyTotal) => ({
    x: dailyTotal.date,
    y: dailyTotal.length,
    }));

    new Chart(document.querySelector('#line-time'), {
    type: 'line',
    data: {
        datasets: [
        {
            label: 'Minutes meditated',
            data, // equivalent to data: data
        },
        ],
    },
    options: {
        scales: {
        x: {
            type: 'time',
            time: {
            tooltipFormat: 'LLLL dd', // Luxon format string
            unit: 'day',
            },
        },
        },
    },
    });
});
</script>

{% endblock %}
