{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}

{% block head %} 
<style>
  main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 400px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 500px;
        margin-right: 500px;
    }
  #register {
    border-color: #e9eaf4;
    border-width: 3px;
    font-family: 'Lato', sans-serif;
    width: 300px;
    height: 375px; 
    padding: 2rem;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
  }
  #login {
    border-color: #e9eaf4;
    border-width: 3px;
    font-family: 'Lato', sans-serif;
    width: 300px;
    height: 375px; 
    padding: 2rem;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
  }
  #google-login {
    display: grid;
    justify-content: center;
  }
  .signup-text-input {
    border-radius: 20px;
  }
  #image {
    display: flex; 
    justify-content: center; 
    align-content: center;
    width: 50%;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block body %}
<section id="image">
    <img src="../static/src/Photos/login.jpg"></img>    
  </section> 
<main>
  <section id="register">
  <b><h2 class="text-xl font-bold text-gray-900 dark:text-black">Create an Account</h2></b>
  <h3>Welcome aboard 🚀</h3>
  <form action="/register" method="POST">
    <p style="padding-top: 1rem;">
      <input class="signup-text-input" type="text" name="email" placeholder="email">
    </p>
    <p style="padding-top: 1rem;">
      <input class="signup-text-input" type="password" name="password" placeholder="password">
    </p>
    <p style="padding-top: 1rem; margin-left: 4.25rem;">
      <button type="submit" class="text-md text-white bg-gradient-to-br from-purple-300 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Sign In</button>
    </p>
  </form>
</section>

<section id="login">
  <b><h2 class="text-xl font-bold text-gray-900 dark:text-black">Log In</h2></b>
  <h3>Welcome back 👋</h3>
  <form action="/login" method="POST">
    <p style="padding-top: 1rem;">
      <input class="signup-text-input" type="text" name="email" placeholder="email">
    </p>
    <p style="padding-top: 1rem;">
      <input class="signup-text-input" type="password" name="password" placeholder="password">
    </p>
    <p style="padding-top: 1rem; margin-left: 4.25rem;">
      <button type="submit" class="text-md text-white bg-gradient-to-br from-purple-300 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Sign In</button>
    </p>
  </form>
  <p style="display: flex; justify-content: center; padding-top:1rem;"><a href='/google_login'><button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2">
  <svg class="mr-2 -ml-1 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
  Sign in with Google
</button></a></p>
</section>
</main>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script>
    gsap.from('#image', {opacity: 0, duration: 1.80, y: -50});
    gsap.from('main', {duration: 1.80, y: 30, opacity: 0 });
</script>

{% endblock %}