{% extends 'logout.html' %}
{% block title %} Profile Page {% endblock %}

{% block head %}

{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

<style>
    #weather {
        padding: 50px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("button").click(function(){
            $("#focus").slideToggle();
        });
    });
    </script>
{% endblock %}

{% block body %}

<img src="{{ profile_picture }}" style="width:100px;height:100px;">

<section id="timer">

    <label for="timer" id="select">Select how long you would like to meditate in minutes:</label>
    <button id='five' type="button" value=5 class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">5</button>
    <button id='ten' type="button" value=10 class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">10</button>

    <div id="timer-result"></div>

</section>

<!-- focused breathing gif  -->
<button><img src="https://www.svgrepo.com/show/235510/wind.svg" style="width:42px;height:42px;"></button>
<img id="focus" style="display: none;" src="https://media.discordapp.net/attachments/825978934046359627/1051933067993948230/breathing2.gif?width=523&height=523"/>


<!-- tells user if they meditated yesterday and today or not -->
<div id="streak">{{ streak }}</div>
<!-- random fortune appears after log in -->
<div id="fortune">{{ fortune }}</div>

<div>
    <a href="/profile/{{session['user_id']}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Click here to write a reflection</a>  
</div>
<div>
    <a href="/journal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Click here to see all of your journal entries</a>
</div>


<!-- delete account button -->
<button onclick="deleteAccount('{{ user.user_id }}')" type="button" class="delete text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete Account</button>    
<script>
    function deleteAccount(user_id) {
        fetch(`/delete-account/${user_id}`) 
            .then((response) => {
                window.location = '/';
        });
    };
</script>


<!-- meditation bar graph -->
<div id="site-content" style="width:600px;height:250px">
    <canvas id="line-time"></canvas>
</div>

<script>
    fetch('/meditations_this_week.json')
.then((response) => response.json())
.then((responseJson) => {
    const data = responseJson.data.map((dailyTotal) => ({
    x: dailyTotal.date,
    y: dailyTotal.length,
    }));

    new Chart(document.querySelector('#line-time'), {
    type: 'bar',
    data: {
        datasets: [
        {
            label: 'Minutes meditated',
            data, // equivalent to data: data
            borderColor: '#5D75BB',
            backgroundColor: '#5D75BB',
        },
        ],
    },
    options: {
        scales: {
        x: {
            type: 'time',
            time: {
            tooltipFormat: 'LLLL dd', // Luxon format string
            unit: 'day',
            },
        },
        },
    },
    });
});
</script>

<!-- displays the temp and weather for given zipcode -->
<div id="weather">
<h2>Good day to go for a walk?</h2>
    <form action="/weather" method="GET">
      <p>
        Type in your zipcode to see what the weather is like right now: <input type="text" name="zip">
      </p>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </p>
    </form>    
</div>

<!-- youtube sound buttons -->
<div style="display:flex;justify-content:center;align-items:center; height: 300px;">
        <div data-video="42M3esYyHdw" data-autoplay="0" data-loop="1" id="youtube-audio1"></div>
        <div data-video="fBVJoIbNjdQ" data-autoplay="0" data-loop="1" id="youtube-audio2"></div>
        <div data-video="LTmXmskEMas" data-autoplay="0" data-loop="1" id="youtube-audio3"></div>
        <div data-video="6cDiJCM-6KA" data-autoplay="0" data-loop="1" id="youtube-audio4"></div>
</div>


<!-- spotify signin/signout links -->
<a href="/sign_in" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/232px-Spotify_icon.svg.png" style="width:42px;height:42px;">Spotify Sign In</a>
<a href="/sign_out" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/232px-Spotify_icon.svg.png" style="width:42px;height:42px;">Spotify Sign Out</a>   


<!-- spotify playlist player -->
<div style="width: 500px;" id="music"></div>
<script>
const music = document.getElementById("music");
// tells you what today's date is
const d = new Date(); 
// gives the day of the week as a number (0-6) i.e. sunday = 0
let day = d.getDay();

function changeSong(url) {
    fetch(`https://open.spotify.com/oembed?url=${url}`)
        .then((response) => response.json())
        .then((data) => {
        console.log(data);
        music.innerHTML = data.html;
        });
    };

if (day == 0 || day == 2) {
    changeSong('https://open.spotify.com/playlist/37i9dQZF1DX9uKNf5jGX6m');
} else if (day == 1 || day == 3 || day == 5) {
    changeSong('https://open.spotify.com/playlist/37i9dQZF1DWURfu7Lk3xJ1');
} else {
    changeSong('https://open.spotify.com/playlist/37i9dQZF1DWTiAxGU5Bgem');
};
</script>


<script src="/static/src/profile.js"></script>
{% endblock %}