{% extends 'base.html' %}
{% block title %} Profile Page {% endblock %}

{% block body %}

<!-- <h1>(( user.user_id ))</h1> ## replace with {}

<p>
(( user.email )) ## replace with {}
</p> -->


<div class="notes__preview">
    <input class="notes__title" type="text" placeholder="Enter a title...">
    <textarea class="notes__body" placeholder="Enter your message..."></textarea>
</div>
<div class="notes__sidebar">
    <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-md px-5 py-2.5 text-center mr-2 mb-2">Add Note</button>
</div>


{% endblock %}