#timer-result {
    color: red;
    font-size: xxx-large;
    font-family: sans-serif;
    font-weight: bold;
}

#select {
    font-family: sans-serif;
    font-weight: 500;
}

#streak {
    font-family: sans-serif;
    font-weight: 500;
}

#site-content {
    font-family: sans-serif;
    font-weight: 500;
}

#fortune {
    font-family: sans-serif;
    font-weight: 600;
    color: #b4a5c4
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body,
.notes__tag {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}

.notes__tag {
    flex-shrink: 1;
    font-size: 1em;
    line-height: 1;
    margin-top: 1em;
    resize: none; 
}